@import 'nib'
@import 'jeet'
@import 'rupture'

.clearfix
    clear:both

button
    text-transform:uppercase
    background:none;
    border:1px solid #333;
    border-radius:2px;
    width:100%;
    padding:1rem;
    text-align:center;
    cursor:pointer

input,
textarea
    width:100%;
    margin: 0 auto 1rem auto;
    border:1px solid #333;
    padding:1rem;
    box-sizing:border-box;
    outline:none;

.login
    padding:1rem;
    center(300px)

.dashboard
    width:90%;
    margin:0 auto;
    padding:1rem;

    .logout
        column(2/12,offset:10/12)
        text-align:right;
        margin-bottom:1rem;

    .current
        cursor:pointer

        .item
            padding: 1rem
            border-top: 1px solid rgba(0,0,0,0.5)            

        .item:hover
            background:rgba(0,0,0,0.1)

        .name
            text-transform:uppercase
            column(5/6, cycle:2)
        .price
            column(1/6, cycle:2)

        button     
            position:fixed
            width:90%
            bottom:.5rem
            background:white;
            z-index:1

    

    .overlay
        background:rgba(0,0,0,0.7);
        position:fixed;
        z-index:2
        height:100%;
        width:100%;
        left:0;
        top:0


        .editItem, .addnew
            border:1px solid #333;
            margin-top:2rem;
            padding:1rem;
            box-sizing:border-box;
            background:white;

            button
                column(1/2, cycle:2)
        

    
